applications:
- disk_quota: 1024M
  host: triviabot
  name: triviabot
  command: node app.js
  path: .
  domain: mybluemix.net
  instances: 1
  memory: 128M
  command: bin/hubot -a slack -n triviabot
